<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<form action="/user/doEdit" method="post">
   <!--id: <input type="text" name="id"><br/>-->
    UserName: <input type="text" name="username"><br/>
    PassWord: <input type="password" name="password"><br/>
    Hobby: <input type="checkbox" value="0" id="lable1" name="hobby"/> <label for="lable1">eat</label>
            <input type="checkbox" value="1" id="lable2" name="hobby"/> <label for="lable2">sleeping</label>
            <input type="checkbox" value="2" id="lable3" name="hobby"/> <label for="lable3">learning</label>
    <input type="submit" value="submit">
</form>
</body>
</html>